.loader {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(153, 235, 255, 0.71);
    .wrapper-loader{
        position: relative;
        left: 30px;
        width: 180px;
    }
}
