.header {
    color: #fff;
    display: flex;
    background: #1b1b1b;
    padding: 20px;
    .logo {
        width: 200px;
        height: 115px;
    }
    .title {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
